<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/Content/css/element_2_11_1.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Content/css/index.css" asp-append-version="true" />
    <script src="~/Content/scripts/utils/vue.js" asp-append-version="true"></script>
    <script src="~/Content/scripts/utils/element_2_11_1.js" asp-append-version="true"></script>
    <script src="~/Content/scripts/utils/axios.min.js"></script>
    <script src="~/Content/scripts/utils/jquery-3.3.1.js" asp-append-version="true"></script>
    <script src="~/Content/scripts/utils/ajax.utils.js" asp-append-version="true"></script>
    <script src="~/Content/scripts/utils/alert-message.js" asp-append-version="true"></script>
    <script src="~/Content/scripts/utils/utils.js?v=2019" asp-append-version="true"></script>
    <script src="~/Content/scripts/utils/linq.js" asp-append-version="true"></script>
    <script src="~/Content/scripts/utils/layer/layer.js" asp-append-version="true"></script>
    <script src="~/Content/scripts/utils/moment.js" asp-append-version="true"></script>
    <script src="~/Content/scripts/component/new-iframe.js" asp-append-version="true"></script>
    <script src="~/Content/scripts/component/frame-button.js" asp-append-version="true"></script>


    <style>
        .span-long-text {
            line-height: 30px;
            text-align: center;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
        }
    </style>
</head>
<body style="margin-left:16px;">
    <div style="height: 15px;width: 100%"></div>
</body>
</html>